ul {
  margin: 0;
  padding: 0;
  padding-top: 15;
  padding-bottom: 15;

}

h1 {
  background-color: blue;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

input {
  text-align: center;
}

body {
  text-align: center;
  font-family: 'Oswald' , sans-serif;
}
